#header {
width:100%;
height:200px;
position: absolute;
 top: 0; 
 left: 0; 
 opacity: 0.5; 
z-index: 2;
background-color:black; }

#header_main {
 width:100%;
height:70px;
position: relative;
 top: 0; 
 left: 0; 
 opacity: 0.9; 
z-index: 2;
background-color:#000;
 }
 #name {
	width:300px;
	margin-top:170px;
	margin-right:50px;
	text-align:right;
	color:white;
	right:0;
	 z-index: 3;
    position: absolute;
 
 }
 #welcome_msg {width:100%;
	margin-top:15px;
	margin-right:0px;
	margin-left:10px;
	text-align:left;
	color:white;
	left:0;
	 z-index: 3;
    position: absolute;
 }
   #name_main{
	width:100%;
	margin-top:50px;
	margin-right:50px;
	text-align:right;
	color:white;
	right:0;
	 z-index: 3;
    position: absolute;
 
 }
 #logo{  
 width:300px;
	position: absolute; 
	margin-top: 50px;
	margin-left: 50px; 
	z-index: 3;
 
}
#logo_main{  
	 text-align: center ;
	position: relative; 
	margin-top: 20px;
	margin-left:auto; 
	margin-right:0;
	 left:0;right:0;
 
}

#login #username_l{
	text-align:right;
	margin-right:10px;
}
#login #password_l{
	text-align:right;
	margin-right:10px;
}
#login {
	color:white;
	padding-top:330px;
	margin-left:auto;
	margin-right:auto;
	height: 140px;
	position: relative;
	text-align:center;
}
#loginform {
	text-align:right;
	color:white;
	 width:100%;
	margin-left:auto;
	margin-right:auto;
	float:center;
	height: 140px;
	position: relative;
	text-align:center;
}

.menubar:hover {color:green;
background-image: linear-gradient(bottom, rgb(252,252,252) 3%, rgb(255,255,255) 52%);
background-image: -o-linear-gradient(bottom, rgb(252,252,252) 3%, rgb(255,255,255) 52%);
background-image: -moz-linear-gradient(bottom, rgb(252,252,252) 3%, rgb(255,255,255) 52%);
background-image: -webkit-linear-gradient(bottom, rgb(252,252,252) 3%, rgb(255,255,255) 52%);
background-image: -ms-linear-gradient(bottom, rgb(252,252,252) 3%, rgb(255,255,255) 52%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.03, rgb(252,252,252)),
	color-stop(0.52, rgb(255,255,255))
);
}

.menubar { font-size:8px;color:white;
width:180px;height:25px; float:right; background-color:#393;margin-top:10px; padding-top:5px;padding-right:5px;text-align:right;
background-image: linear-gradient(left , rgb(76,122,3) 5%, rgb(107,159,29) 53%);
background-image: -o-linear-gradient(left , rgb(76,122,3) 5%, rgb(107,159,29) 53%);
background-image: -moz-linear-gradient(left , rgb(76,122,3) 5%, rgb(107,159,29) 53%);
background-image: -webkit-linear-gradient(left , rgb(76,122,3) 5%, rgb(107,159,29) 53%);
background-image: -ms-linear-gradient(left , rgb(76,122,3) 5%, rgb(107,159,29) 53%);

background-image: -webkit-gradient(
	linear,
	left top,
	right top,
	color-stop(0.05, rgb(76,122,3)),
	color-stop(0.53, rgb(107,159,29))
);

border-top-left-radius: 5px 5px;
border-bottom-left-radius: 5px 5px;
 background: rgb(39,127,1); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzI3N2YwMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM0YmE1MDEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(left,  rgb(39,127,1) 1%, rgb(75,165,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(1%,rgb(39,127,1)), color-stop(100%,rgb(75,165,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgb(39,127,1) 1%,rgb(75,165,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgb(39,127,1) 1%,rgb(75,165,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgb(39,127,1) 1%,rgb(75,165,1) 100%); /* IE10+ */
background: linear-gradient(left,  rgb(39,127,1) 1%,rgb(75,165,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#277f01', endColorstr='#4ba501',GradientType=1 ); /* IE6-8 */

}
body  {
	font-family:Arial;
	color: #000; 
	background-color:black;
	height:100%;  
}
#wrapper { margin-left: auto; margin-right:auto; oveflow: hidden; width: 1024px; background-color:#111; min-height:100%; }
 html, body   { margin: 0; border: 0 none; padding: 0;height:100%;  }

  div { margin: 0; border: 0 none; padding: 0;}
#body_left_main {float:left;width:200px;background-color:#111;   }
#body_right_main {float:right;width:824px;background-color:#fff;}
#right_main{background-color:#fff;float:left;}

label {
	  
	 text-align:right;
	 
	 }
A:link { text-decoration: none } 
A:active { text-decoration: none } 
A:visited { text-decoration: none }  

#prod_page{ align:center; margin-left:auto;margin-right:auto;}
#prod_page.scroll {
width:750px;
height:500px;
overflow: auto;
border: 0px solid #666;
background-color: #EEE;
padding: 8px;
} 
#pager{ margin-left:auto;margin-right:auto;align:center; width:100%;}