.righttop {
float: right;
padding: 0px 10px;
background-repeat: no-repeat;
background-position: right;
color: #187CD9;
margin-left: 10px;
font-size: 12px;
}

.infoMsg, .successMsg, .errorMsg, .warningMsg {
border: 1px solid;
margin: 0px 10px;
padding:15px 10px 15px 50px;
background-repeat: no-repeat;
background-position: 10px center;
}

.infoMsg {
color: #00529B;
background-color: #BDE5F8;
background-image: url('info.png');
}

.successMsg {
color: #4F8A10;
background-color: #DFF2BF;
background-image:url('success.png');
}

.warningMsg {
color: #9F6000;
background-color: #FEEFB3;
background-image: url('warning.png');
}

.errorMsg {
color: #D8000C;
background-color: #FFBABA;
background-image: url('error.png');
}

.errorMsg ul li {
	list-style-type: none;
}

#rightcol .errorMsg ul li {
	margin: 10px 10px;
	padding:15px 10px 15px 50px;
	background-color:#FFBABA;
	height:auto;
}

.errorMessage {
	color: #D8000C;
	font-size: 0.9em;
}

input.error, select.error, textarea.error {
	background: #FEE;
	border-color: #C00;
}

.calendar_button {
	border: none;
	background: url(calendar.gif) no-repeat center top;
	cursor:pointer;
	width:20px;
}

/* Paging */
.pagebarUTH { font-size: 0.6em;font-family:verdana; padding: 0.2em 0.5em; margin-right: 0.1em; border: 1px solid #FFF; background: #FFF; text-decoration: none; text-align: center; height: 20px;}
.pagebarUTH a, .pageList .this-page {color: #BBB; text-decoration: underline;border: 1px solid #D8D8D8; text-decoration: none; padding: 0.2em 0.5em; }
.pagebarUTH a:hover {border: 1px solid #BBB;} 
.pagebarUTH .break { padding: 2px 6px; border: none; background: #FFF; text-decoration: none; }
.pagebarUTH .this-page { border: 1px solid #BBB; padding: 0.2em 0.5em; font-weight: bold; background: #BBB; color: #FFF; }
.pagebarUTH a:active{color: #BBB; text-decoration: underline;}

.menubar_selected {
	font-size:8px;
	color:green;
	width:180px;height:25px; float:right; background-color:white;margin-top:10px; padding-top:5px;padding-right:5px;text-align:right;
	border-top-left-radius: 5px 5px;
	border-bottom-left-radius: 5px 5px;
}

.advance_filter {
	background: transparent url('advance_filter.jpg') no-repeat scroll center;
	width: 100%;
	height: 30px;
}

.input_label,  .input_label_s {
	background-color: #e6e7e9;
	border-top: 1px solid #9a9b9d;
	border-bottom: 1px solid #9a9b9d;
	border-left: 1px solid #9a9b9d;
	padding: 0px 10px 0px 10px;
	height: 22px;
	float: left;
}

.input_label {
	width: 119px;
}

.input_from_to_field input {
	margin-left: 0;
	height: 18px;
	width: 131px;
}

.date_field input {
	margin-left: 0;
	width: 173px;
	height: 18px;
}

/* For searching criteria label */
.input_label_s {
	width: 70px;
}

.input_label span {
	position: relative;
	bottom:-3px;
}

.input_field {
	overflow: hidden;
	display: block;
	padding: 0 4px 0 0;
}

.input_field input {
	width: 100%;
	height: 18px;
}

.page_header {
	font-size:24px;
	color:#949599;
	border-bottom: 1px solid #949599;
	margin-bottom: 10px;
	font-weight: bold;
}

.rightmain_content {
	margin: 0px 10px 20px 10px;
}

/* --- Grid for add --- */
.grid {
  width: 796px;
  height: 0px;
  margin: auto;
}

.grid-m1 {
  float: left;
  width: 0px;
  height: 1px;
}

.grid-c1 {
  float: left;
  width: 500px;
  height: 30px;
  margin-bottom: 10px;
}

.grid-c1-textarea {
  float: left;
  width: 500px;
  height: 60px;
  margin-bottom: 10px;
}

.grid-m2 {
  float: left;
  width: 20px;
  height: 1px;
}

.grid-c2 {
  float: left;
  width: 500px;
  height: 30px;
  margin-bottom: 10px;
}

.grid-c1 select {
	margin-left: 0;
	width: 100px;
	height: 24px;
}

.grid-c1 .input_field input, .grid-c2 .input_field input {
	width: 250px;
	height: 18px;
}

.grid-c1 .date_field input, .grid-c2 .date_field input {
	margin-left: 0;
	width: 250px;
	height: 18px;
}

.grid-c1-textarea .input_label {
	height: 60px;
}

.grid-c1-textarea textarea {
	margin-left: 0;
	width: 250px;
	height: 56px;
}

/* --- Grid for update --- */
.grid_u {
  width: 796px;
  height: 0px;
  margin: auto;
}

.grid_u-m1 {
  float: left;
  width: 0px;
  height: 1px;
}

.grid_u-c1 {
  float: left;
  width: 370px;
  height: 30px;
  margin-bottom: 10px;
}

.grid_u-c1-textarea {
  float: left;
  width: 370px;
  height: 60px;
  margin-bottom: 10px;
}

.grid_u-m2 {
  float: left;
  width: 20px;
  height: 1px;
}

.grid_u-c2 {
  float: left;
  width: 370px;
  height: 30px;
  margin-bottom: 10px;
}

.grid_u-c1 select {
	margin-left: 0;
	width: 100px;
	height: 24px;
}

.grid_u-c1 .input_field input, .grid_u-c2 .input_field input {
	width: 200px;
	height: 18px;
}

.grid_u-c1 .date_field input, .grid_u-c2 .date_field input {
	margin-left: 0;
	width: 200px;
	height: 18px;
}

.grid_u-c1-textarea .input_label {
	height: 60px;
}

.grid_u-c1-textarea textarea {
	width: 200px;
	height: 56px;
}

.show_product_image {
	float: left;
	margin-right: 10px;
	padding: 5px 5px 5px 5px;
}

/* --- Grid for seraching --- */
.grid_s {
  width: 796px;
  height: 0px;
  margin: auto;
}

.grid_s-m1 {
  float: left;
  width: 0px;
  height: 1px;
}

.grid_s-c1 {
  float: left;
  width: 388px;
  height: 30px;
  margin-bottom: 10px;
}

.grid_s-m2 {
  float: left;
  width: 20px;
  height: 1px;
}

.grid_s-c2 {
  float: left;
  width: 388px;
  height: 30px;
  margin-bottom: 10px;
}

.grid_s .from_to_input {
	padding: 0 0 0 0;
}

.grid_s-c1 select {
	margin-left: 0;
	width: 100px;
	height: 24px;
}

/* --- Grid for paging --- */
.grid_p {
	background-color: white;
	width:335px;
	float: left;
	margin: 0px 0px 30px 0px;
	padding: 10px 0px 0px 5px;
	border:1px solid #949599;
}

.grid_p-c1 {
	width: 160px;
	height: 130px;
	float: left;
	margin-right: 5px;
}

.grid_p-c3 {
	float: left;
	margin-top: 5px;
}

.grid_p-m1 {
  float: left;
  width: 45px;
  height: 1px;
}

.grid_p-c1 .input_label {
	margin-bottom:10px;
	width: 35px;
}

.grid_p .input_field {
	margin-bottom:10px;
}

.grid_p-c1 .product_name {
	text-align:center;
	color:#3ab54a;
	font-size: 20px;
	font-weight: 900;
	padding-bottom: 10px;
	height: 30px;
}

.grid_p-c3 .input_field2 input {
	margin-bottom:10px;
	width: 207px;
	height: 18px;
}

.grid_p-c3 .input_label {
	width: 96px;
}

.grid_p-c3 .link {
	text-align:center;
	padding-bottom: 10px;
}

/* Excel View */
.product-excel-style {
	font-size: 12px;
	text-align: left;
	border-collapse: collapse;
	margin: 20px;
}

.product-excel-style th {
	font-size: 13px;
	font-weight: normal;
	background: #B9BDBD ;
	border-top: 2px solid #B9BDBD;
	border-bottom: 1px solid white;
	color: #039;
	padding: 8px;
}

.product-excel-style td {
	border-bottom: 1px solid white;
	color: #669;
	border-top: 1px solid white;
	background: /*#E8EDFF*/#DADDDD ;
	padding: 8px;
}

.product-excel-style tbody tr:hover td{
	background:#d0dafd;
}
